*{
  font-family: roboto, sans-serif;
}
header{
  background-color: black;
}
header *{
  color: white;
}
header h1{
  display: inline-block;
  margin-left: 10px;
}
header h3{
  display: inline-block;
  padding-right: 20px;
  margin-left: 10px;
}
.infos{
  float:right;
  vertical-align: center;
}
main{
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.question{
  border: 2px solid darkgrey;
  text-align: center;
}
.answers{
  margin-top: 10px;
  padding-bottom: 20px;
  border:2px solid darkgrey;
}
.answer{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  border: 2px solid lightgrey;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: default;
}
.answer-right{
  background-color: green;
  border: 2px solid darkgreen;
}
.answer-wasright{
  background-color: lightgreen;
}
.answer-wrong{
  background-color: red;
  border: 2px solid black;
}
.hidden{
  display: none;
}
.nextbutton{
  float: right;
}
.start, .end{
  text-align: center;
}
button{
  margin-top: 10px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  color: white;
  border: none;
}
button:hover{
  background-color: green;
}
button:active{
  background-color: darkgreen;
}
@media screen and (max-width: 700px){
  header h1 {
    font-size: 25px;
  }
  .infos{
    float: none;
  }
  button{
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 345px){
  header h3{
    font-size: 15px;
  }
}
@media screen and (max-height: 700px){
  .answer{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .answers{
    padding-bottom: 10px;
  }
  .questiontext{
    font-size:18px;
  }
  main{
    padding-top: 10px;
  }
}
